<div class="row sudhanshu-margin">
    <div class="col-md-6 m-auto">
        <div class="card card-body ">
            <div class="d-flex justify-content-center mt-3 mb-5">
                <i class="far fa-check-circle fa-8x"></i>
            </div>
                <div class="m-auto">
                <h2 class="text-uppercase font-weight-bold mb-3 "><%= message %> </h2>
                <h3>Document ID : <%= documentid %> </h3>
                <h3>Paper ID : <%= paperid %> </h3>
                <p>Please note the following IDs in case of any problem.</p>
                </div>
                <a href="/" class=" btn btn-primary btn-block">Go to Dashboard</a>
        </div>
       
    </div>
</div>