<div class="row construction">
    <div class="col-md-6 m-auto">
        <img src="../public/images/construction.svg" alt="">
        <div class="row mt-4">
            <div class="col d-flex justify-content-center">
                <h2>Engine is Under construction...</h2>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center text-danger">
                <h1>This feature is not available right now...</h1>
            </div>
            </div>
    </div>
</div>


