<div class="container-fluid dashboard ">
<div class="row mt-5">
    <div class="col-md-6 m-auto d-flex justify-content-center sudhanshu-margin user-name">
        <h1>Hi! <%=name %> </h1>
    </div>
</div>

    <div class="row mt-5 ">

        <!-- Create a Exam-->
        <div class="col-sm m-3 ">   
            <div class="card border-dark mb-3 " style="max-width: 20rem;">
            <div class="row mt-2">
                <div class="col d-flex justify-content-center">
                    <a class="fa-icon-customizer" href="/create" >
                        <i class="fas fa-plus-square fa-4x"></i>
                    </a>
                    
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card-body">
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <h4 class="card-title">Create</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <p class="card-text">Create a form, exams, surveys, etc.</p>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
            </div>
        </div>
    
        <!--Participate-->
        <div class="col-sm m-3">
            <div class="card border-dark mb-3" style="max-width: 20rem;">
            <div class="row mt-2">
                <div class="col d-flex justify-content-center">
                    <a class="fa-icon-customizer" href="/participate" >
                        <i class="fas fa-edit fa-4x"></i>
                    </a>
                    
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card-body">
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <h4 class="card-title">Participate</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <p class="card-text">Give a exams, surveys, etc.</p>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
            </div>
        </div>
    
        <!--Status & Evaluation-->
        <div class="col-sm m-3">
            <div class="card border-dark mb-3" style="max-width: 20rem;">
            <div class="row mt-2">
                <div class="col d-flex justify-content-center">
                    <a class="fa-icon-customizer" href="/status" >
                        <i class="fas fa-check-square fa-4x"></i>
                    </a>
                    
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card-body">
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <h4 class="card-title">Status & Evaluate</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-center">
                                <p class="card-text">Having query about a given exam</p>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
            </div>
        </div>
    
    
    </div>

</div>



