<div class="row construction">
    <div class="col-md-6 m-auto">
        <img src="../public/images/notfound.svg" alt="">
        <div class="row mt-4">
            <div class="col  justify-content-center">
                <h1 class="text-uppercase">Error:404</h1>
                <h4 class="text-uppercase">Item not found</h4>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center text-danger">
                <p>Please contact our Team in case of any problem.</p>
            </div>
            </div>
    </div>
</div>


