<div class="row sudhanshu-margin">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <div class="d-flex justify-content-center m-3">
                <i class="fas fa-check-square fa-4x "></i>
            </div>
            <a href="" class="btn btn-primary btn-block mb-3">My Documents</a>
            <a href="/status/myparticipation" class="btn btn-outline-primary btn-block">My Participation</a>
        </div>
    </div>
</div>