<div class="row sudhanshu-margin">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <div class="d-flex justify-content-center">
                <i class="fas fa-users-cog fa-5x mb-5"></i>
            </div>
        <a href="/create/new" class="btn btn-primary btn-block mb-3">Create new</a>
        <a href="/create/edit" class="btn btn-outline-primary btn-block">Edit existing</a>
        </div>  
    </div>
</div>