<div class="row sudhanshu-margin">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">Create</h1>
            <form action="/create/new" method="POST">

            <div class="form-group">
                <label for="title">Title</label>
                <input
                  type="text"
                  id="title"
                  name="title"
                  class="form-control"
                  placeholder="Enter Title"
                  required
                />
              </div>

              <div class="form-group">
                <select class="custom-select" name="type" required>
                <option selected="exam">Exam</option>
                <option value="form">Form</option>
                <option value="survey">Survey</option>
                </select>
             </div>

             <div class="form-group">
              <label for="nquestion">Total Numbers of question.</label>
              <input
                type="number"
                id="nquestions"
                name="nquestions"
                class="form-control"
                placeholder="Enter the Number"
                min="1"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>